<article class="sidebar">
  <h1 class="sidebar-title">Who should join?</h1>
  <ul class="sidebar-body">
    <li>If you love books and want to share your thoughts with people that share the same passion for books.</li>
    <li>just join BookFace and have fun </li>

  </ul>
</article><!-- article -->
